<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinancialScraper</title>
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
   

    @RenderBody()
<div class="container">
    <footer>
        <h5>Financial Scraper</h5>
        <i style="padding: 6px">Typed by the fingers of:</i>
        <p>&copy; @DateTime.Now.Year - Jim Doyle, Student</p>
        <a href="http://careerdevs.com">CareerDevs University</a>
    </footer>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
